/* components/Carousel.module.css */
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselTrack {
  display: flex;
  width: 100vw;
  animation: scroll 30s linear infinite;
  gap: 1.5px; /* Space between carousel items */
}

.carouselItem {
  flex: 0 0 calc(10% - 20px);
  text-align: center;
  padding: 20px; /* Ensure transparency */
  box-sizing: border-box;
  border-radius: 8px;
}

.carouselItem img {
  width: 60px; /* Set a fixed width for logos */
  height: 60px; /* Set a fixed height for logos */
  object-fit: contain; /* Ensure logos maintain aspect ratio */ /* Ensure the image background is transparent */
  filter: brightness(0) invert(1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
