/* components/LandingPage.module.css */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.landingPage {
    background-image: url('/bg2.jpg');  /* Replace with your actual image path */
    background-size: cover;                    /* Ensures the image covers the entire screen */
    background-position: center;               /* Centers the image */
    background-repeat: no-repeat;              /* Prevents the image from repeating */
    height: 100vh;                             /* Full viewport height */
    width: 100vw;                              /* Full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .headline {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 300px; /* Space between headline and carousel */
    font-family: 'Bangers';
  }
  
  .carouselContainer {
    width: 100%;/* Max width for carousel container */
    overflow: hidden;
    position: absolute;                        /* Position carousel at the bottom */
    bottom: 0;                                 /* Align with the bottom of the page */
    left: 50%;
    transform: translateX(-50%);               /* Center carousel horizontally */
    margin-bottom: 20px;                       /* Space between carousel and bottom edge */
  }
  