/* components/Navbar.module.css */
.navbar {
    width: 100%;
    padding: 0px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .scrolled {
    background-color: #000000; /* Change this color as needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 100px; /* Adjust based on your logo size */
  }
  .getStartedButton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1 rem;
    color: #fff;
    background-color: #0070f3; /* Button color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block; /* Ensure the button is inline-block for proper sizing */
  }
  
  .getStartedButton:hover {
    background-color: #005bb5; /* Darker button color on hover */
  }
  
  