/* Container for the whole page */
.container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Left half grid layout */
.leftHalf {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  grid-column-gap: 24px; /* Horizontal gap */
  grid-row-gap: 30px; /* Vertical gap */
  padding: 20px; /* Add padding if needed */
  background-color: transparent; /* Optional: background color for visibility */
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem; /* Fixed width */
  height: 8rem; /* Fixed height, same as width for a perfect circle */
  border-radius: 50%; /* Circular shape */
  overflow: hidden; /* Ensures the image fits within the circle */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: shadow for visual effect */
  background-color: #fff; /* Optional: Background color for better contrast */
}

/* Ensuring the images fill the circle and maintain aspect ratio */
.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images cover the entire circle while maintaining aspect ratio */
}

/* Right half styling */
.rightHalf {
  width: 50%;
  padding: 20px; /* Add padding if needed */
  padding-left: 100px;
}

.rightHalf h1 {
  font-size: 1.5rem;
  color: white;
}

.rightHalf p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: lightsteelblue;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
