/* FilterPage.module.css */
.filterPage {
    padding: 40px;
    background-color:transparent;
  }
  
  .filterButtons {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    color:#fff;
    text-align: center;
    width: 200px;
    background-color: gray;
    border-radius: 10px;
  }
  .selectedButton {
    background-color:#ece5e5; /* White background for selected button */
    color: #315b8b; /* Blue text color */
    border-color: #3a3c3d; /* Blue border color for selected button */
    font-weight: bold; /* Optional: make the selected button text bold */
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1rem; /* Optional: add a subtle shadow */
    width:120px;
    transition: ease-in-out ;
  }

  .button1 {
    width:200px;
    padding: 10px 20px;
    background-color: #5b7189;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.8rem; 
    width:90px;
    transition: ease-in-out;
    text-align: center;
  }
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .details {
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .campusCard, .studentCard {
    margin-bottom: 20px;
    display:flex;
    gap: 150px;
  }
  .campusBlock {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ece5e5;
  }
  
  .jobTuple {
    margin-bottom: 20px;
    border-top: 1px solid #938c8c;
    padding-top: 10px;
    
  }
  
  .jobDetail {
    margin-bottom: 5px;
  }

  
  .jobTuple1 {
    margin-top: 10px;
  }
  .tuplu{
    display: flex;
    gap: 150px;
  }
  .contactButton {
    background-color: #074f9d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .contactButton:hover {
    background-color: #005bb5;
  }
  
  .tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
    transform: translate(-50%, -10px);
    pointer-events: none; 
    top: -30px; 
  }
  .contactButton1 {
    display: flex;
    gap: 10px;
  }

  .resumeLink {
    color: grey; 
    text-decoration: underline;
    transition: color 0.3s; 
    display: flex;
  }
  
  .resumeLink:hover {
    color: rgb(75, 75, 139); 
  }
  
  .resumeLink:active {
    color: rgb(42, 42, 79); 
  }
 .h1{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
  display: flex;
  margin-bottom: 10px;
  text-shadow: none;
 }
 .uni{
  display: flex;
  gap:2px;
 }
 .searchInput {
  width: 100%;
  padding: 8px;
  margin: 16px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: transparent; 
  color: #fff;  
  font-weight: bold; 
  text-align: center;  
}
