.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.titleContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.title {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #938b8b;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.activeTitle {
  color: rgb(240, 233, 233);
  font-size: x-large;
  background-color: rgba(12, 32, 65, 0.5);
  transition: transform 1s ease-in;
}

.form {
  display: none;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(7, 38, 91, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form.active {
  display: block;
}

.formField {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(12, 32, 65, 0.5);
  font-size: 1rem;
  color: white;
  background-color: rgba(8, 27, 58, 0.5);
}

.textareaField {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid #cccccc;
  font-size: 1rem;
  resize: none;
  background-color: rgba(27, 46, 75, 0.5);
  color: #fff;
}

.button {
  margin: 10px 0 0;
  padding: 10px 40px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(6, 48, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0379f6cd;
}

.removeButton {
  background-color: rgb(129, 0, 36);
  size: 3px;
}

.removeButton:hover {
  background-color: rgba(250, 71, 71, 0.5);
}

.tupleContainer {
  margin: 20px 0;
}

.tuple1 {
  margin-bottom: 20px;
  background-color: rgba(12, 32, 65, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: block;
  gap: 10px;
}
.tuple2 {
  margin-bottom: 20px;
  background-color: rgba(12, 32, 65, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.tupleButtons {
  display: flex;
  justify-content: space-between;
}

.trashIcon {
  cursor: pointer;
  color: rgb(250, 71, 71);
  margin-left: 10px;
  transition: color 0.3s ease;
  width: 32px; /* Set width explicitly */
  height: 32px;
}

.trashIcon:hover {
  color: rgba(250, 71, 71, 0.8);
}

.plusIcon {
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  margin: 20px 0;
  transition: color 0.3s ease;
}

.plusIcon:hover {
  color: #0379f6cd;
}

.uploadText {
  color: #fff;
  font-weight: 200;
  margin-left: 10px;
}

.link {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
  color: #cccccc88;
}

@media (max-width: 768px) {
  .form {
    width: 90%;
  }

  .titleContainer {
    flex-direction: column;
  }

  .title {
    padding: 10px 0;
  }
}
