.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.titleContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 0;
}

.title {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #938b8b;
  background-color: rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.activeTitle {
  color: rgb(240, 233, 233);
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.6); /* Darker, semi-transparent color */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border for contrast */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease-in;
}

.form {
  display: none;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Darker, semi-transparent color */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border for contrast */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.form.active {
  display: block;
}

.formField {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(12, 32, 65, 0.5);
  font-size: 1rem;
  color: grey;
  background-color: rgba(0, 0, 0, 0.1); /* Darker, semi-transparent color */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.textareaField {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid #cccccc;
  font-size: 1rem;
  resize: none;
  background-color: rgba(27, 46, 75, 0.5);
  color: #fff;
}

.button {
  margin: 10px 0 0;
  padding: 10px 40px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(6, 48, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plusIcon {
  margin-top:1rem;
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 10px;
  transition: color 0.3s ease;
  width: 32px; /* Set width explicitly */
  height: 32px;
  color: white;
}

.plusIcon:hover {
  color: blue; /* Light gray background on hover */
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.plusIcon:active {
  transform: scale(0.95); /* Slightly shrink the icon on active click */
}


.button:hover {
  background-color: #0379f6cd;
}

.removeButton {
  background-color: rgba(112, 7, 7, 0.5);
  size: 3px;
}

.removeButton:hover {
  background-color: rgba(250, 71, 71, 0.5);
}

.tupleContainer {
  margin: 20px 0;
}

.tuple1 {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1); /* Darker, semi-transparent color */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: block;
  gap: 10px;
}
.tuple2 {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1); /* Darker, semi-transparent color */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.tupleButtons {
  display: flex;
  justify-content: space-between;
}

.trashIcon {
  cursor: pointer;
  color: rgb(250, 71, 71);
  margin-left: 10px;
  transition: color 0.3s ease;
  width: 32px; /* Set width explicitly */
  height: 32px;
}

.trashIcon:hover {
  color: rgba(250, 71, 71, 0.8);
}


.uploadText {
  color: #fff;
  font-weight: 200;
  margin-left: 10px;
}

.link {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
  color: #cccccc88;
}

@media (max-width: 768px) {
  .form {
    width: 90%;
  }

  .titleContainer {
    flex-direction: column;
  }

  .title {
    padding: 10px 0;
  }
}

.tuple{
  display: flex;
}
